* {
  box-sizing: border-box;
}

h1 {
  margin: 15px;
}

h2 {
  margin: 0;
}

.note {
  display: inline-block;
  background-color: wheat;
  margin: 15px;
  padding: 20px;
  width: 250px;
}

form {
  margin: 15px;
}

input {
  height: 40px;
  width: 250px;
}

input, label {
  display:block;
  margin: 15px;
}

span {
  font-size: 12px;
  opacity: 0.5;
}

span:hover {
  text-decoration: underline;
  opacity: 0.7;
}

span+span {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid black;
}

.note-nav {
  width: 100%;
  text-align: right;
}